img{
    width:30%
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:gray;
    margin: 20px;
}
h1,h2,h3, a{
color:lightseagreen
}
p{
    width: 100%;
}
span{
    align-content: center;
}